{% extends 'base_less.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

{% block headcontent %}
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Corona Einkaufshelfer">
  <meta name="author" content="Marius Steger">
  <meta http-equiv="refresh" content="300" >

  <title>Einkaufshelfer - offene Aufträge</title>

    <!-- Dialog Plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/build_dialog/jquery.dialog.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/build_dialog/jquery.dialog.css' %}">
{% endblock %}

{% block header %}
    <header class="masthead" style="margin-top: -5rem; background: #f5dab2;">
      <div class="container-fluid">

        <div class="row justify-content-between" style="padding-top: 10px; padding-bottom: 10px; padding-left: 1rem; padding-right: 1rem;
                background: #7a8e95; border-radius: 20px">
            <div class="col-lg-8 d-none d-lg-block" style="background: #f5cd9a; font-size: 2.5rem; text-align: center; margin-bottom: 10px;
                color: white; border-radius: 20px">
                Aktuelle Einkaufsaufträge / Hilfsgesuche</div>

            <div class="col-12 d-lg-none" style="background: #f5cd9a; font-size: 1.5rem; text-align: center; margin: auto; margin-bottom: 10px;
                color: white; border-radius: 20px">
                Aktuelle Einkaufsaufträge / Hilfsgesuche</div>


            <div class="col-md-auto" style="ffont-size: 20px; background: #8ea995;
            border-radius: 20px; text-align: center; margin-bottom: 5px; height: 4rem; padding-top: 0.8rem; margin-left: 5px">
                    <div class="form-group" style="color:#000000; font-size: x-large; border-radius: 20px">
                        {{ form.location }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="padding-top: 10px; padding-bottom: 10px; padding-left: 2rem; padding-right: 1rem;">
            <!-- BLACKBOARD -->
            <div class="col-lg-12 img-rounded" id="blackboard" style="color: #ffffff; width: 100%;
            height: 100%; margin-top: 5px;">
                <div class="row content-ct" id="blackboard_elements"></div>
            </div>
        </div>
      </div>
  </header>
{% endblock %}

{% block section %}
{% endblock %}

{% block add_scripts %}
  <!-- jQuery (necessary for AJAX / JQuery JavaScript plugins) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script>
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

function onClickAuftrag(e) {
    var element = document.getElementById(e.id);

    dialog.confirm({
        message: "Möchten Sie den Einkauf übernehmen? \n" +
                "Er wird Ihren aktiven Aufträgen hinzugefügt und Sie erhalten die Telefonnumer der HilfsempfängerIn.\n" +
                "Bitte konktaktieren Sie anschließend Ihren Auftragsgeber.\n" +
                "Nach Annahme des Auftrags werden Sie automatisch zu Ihren angenommenen Aufträgen hinzugefügt.",
        cancel: "Nein",
        button: "Ja",
        required: true,
        callback: function(response){
            if (response) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'setInWork' %}",
                    data: {"id_listing": e.id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'},

                    success: function (response2) {
                        window.location.replace("/helfer_einkaufslisten/");
                        /*dialog.confirm({
                            message: "Der Auftrag wurde erfolgreich angenommen.\n" +
                                    "Möchten Sie zur Auftragsübersicht wechseln?",
                            cancel: "Nein",
                            button: "Ja",
                            required: true,
                            callback: function (response3) {
                                if (response3) {
                                    sleep(2000);
                                    window.location.replace("/home/");
                                } else {
                                    sleep(2000);
                                    window.location.reload();
                                }
                            }
                        });*/
                    },
                    error: function (response2) {
                        dialog.alert("Ihre Anfrage den Einkaufswunsch zu bearbeiten ist fehlgeschlagen, " +
                            "bitte versuchen Sie es in ein paar Minuten erneut oder wenden Sie \n" +
                            "sich an unsere Service-Email: helfer@uber.space")
                    }
                });
            }
        }
    });
}
</script>

<script>
function addElement(elementTag, elementId, dict, map) {
    // Adds an element to the document
    var p = document.getElementById("blackboard_elements");
    var newElement = document.createElement(elementTag);
    newElement.setAttribute('id', elementId);
    newElement.innerHTML = dict["nachricht"];

        newElement.className = 'col-sm-6 col-md-4 col-xl-2';
        newElement.innerHTML = '<div class="col-md12" style="padding-left: 3px; margin-bottom: 5px">Nachricht an die Helfer:</div>' +
        '<div class="col-md12" style="background: #798f96; padding-left: 3px; margin-bottom: 25px; border-radius: 5px"> '+
        dict["nachricht"]+'</div>'+
        '<div class="col-md12" style="padding-left: 3px; margin-bottom: 5px">Wunsch:</div>'+
        '<div class="col-md12" style="background: #99aeb5; padding-left: 3px; margin-bottom: 25px; border-radius: 5px"> '+
        dict["liste_text"]+'</div>'+
        '<div class="row justify-content-between">'+
        '<div class="col-3">'+'Budget: '+ dict["budget"]+ '€</div>'+
        '<div class="col-3">'+ 'Ort: '+ map[dict["user"]] +'</div>'
        +'</div>'
        ;

    // Css styling
    newElement.setAttribute("style", "background: #0f6674; float: left; text-align: " +
        "left; padding-right: 10px; padding: 5px; margin-bottom: 10px;" +
        "border-radius: 15px; border: 3px solid #798f96; cursor: pointer; padding-bottom: 5px");
    newElement.setAttribute("id", elementId);
    newElement.setAttribute("onclick","onClickAuftrag(this)");

    p.appendChild(newElement);
}

function clearElements(){
    var element = document.getElementById("blackboard_elements");
    while (element.firstChild) {
      element.removeChild(element.firstChild);
    }
}
function addNoElementsMessage(){
    var p = document.getElementById("blackboard_elements");
    var newElement = document.createElement("div");
    newElement.setAttribute('id', "NoElementsMessage");
    newElement.innerHTML = "Für Ihre Auswahl wurden keine Treffer gefunden, bitte vergrößern Sie Ihren Suchraum.";
    newElement.setAttribute('style', 'color: black; font-size: x-large; margin-left: 2rem; margin-right: 2rem');

    p.appendChild(newElement);
}

function addNoElementsMessageALL(){
    var p = document.getElementById("blackboard_elements");
    var newElement = document.createElement("div");
    newElement.setAttribute('id', "NoElementsMessage");
    newElement.innerHTML = "Zur Zeit sind glücklicherweise alle Aufträge in Bearbeitung, schauen Sie doch später wieder vorbei!";
    newElement.setAttribute('style', 'color: black; font-size: x-large; margin-left: 2rem; margin-right: 2rem');
    p.appendChild(newElement);
}
s
</script>
<script>
    function updateBlockboard(e, location, status) {
        e.preventDefault();
        // get the nickname
        // GET AJAX request
        $.ajax({
            type: 'GET',
            url: "{% url 'query_listings_blackboard' %}",
            data: {"location": location,
                    "status": status},

            success: function (response) {
                // if not valid user, alert the user
                if(response["valid"]){

                    var auftraege = JSON.parse(response["data"]);
                    if (auftraege.length > 0) {
                        clearElements();
                        auftraege.forEach(function(element) {
                            addElement("div", element["pk"], element["fields"], response["map"]);
                        });
                    } else {
                        if (location == "ALL") {
                            clearElements();
                            addNoElementsMessageALL();
                        } else {
                            clearElements();
                            addNoElementsMessage();
                        }
                    }
                }
            },
            error: function (response) {
                console.log(response)
            }
        })
    }
</script>
<script>
  /* query slected location listing*/
    $("#location").change(function (e) {
        var location = $(this).val();
        var status = "aktiv";

        updateBlockboard(e, location, status)

    })
</script>

{% endblock %}