<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161194303-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161194303-1');
    </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Corona Einkaufshelfer">
  <meta name="author" content="Marius Steger">
  <meta http-equiv="refresh" content="600" >
  <title>Einkaufshilfe erhalten</title>

    <!-- Dialog Plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/build_dialog/jquery.dialog.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/build_dialog/jquery.dialog.css' %}">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/dosis-font.css' %}" rel="stylesheet" type='text/css'>

</head>
<body id="page-top" data-spy="scroll" data-target=".side-menu">
  <div class="container-fluid" style="background: #99aeb5;">
    <!-- Start: Schwarzes Brett -->
    <div class="row hero-header content-ct" style="padding-top: 15px; padding-bottom: 20px;">
        <a href="{% url 'logout' %}">
            <div class="col-lg-2 img-rounded" style="font-size: 20px; color:#ffffff; background: #63b58c;">
                <p style="padding-top: 5px">Abmelden</p>
            </div>
        </a>
        {% if messages %}
        <p class="col-lg-2 img-rounded" style="font-size: 20px; color:#ffffff; background: #63b58c;">
            {% for msg in messages %}
                <p style="padding-top: 3px">
                    {{msg.message}}
                </p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="row hero-header content-ct" style="padding-top: 15px; padding-bottom: 20px;">
        <div class="col-lg-6 img-rounded" style="color:#ffffff; background: #ebac52; margin-top: 5px;">
            <h2><b>Einkaufsauftrag erstellen</b></h2>
            <h3><b>{{ message }}</b></h3>
            <div class="form-group" style="color:#000000; font-size: larger">
            {% block content %}
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="col-md-auto">
                        {% if field.help_text %}
                        {{ field.help_text }}<br>
                        {% endif %}
                        {{ field }}
                      </div>
                    {% endfor %}
                    <button type="submit">Auftrag erstellen</button>
                </form>
            {% endblock %}
            </div>
        </div>

        <div class="col-lg-6 img-rounded" style="color:#ffffff; background: #3ec6eb; margin-top: 5px; margin-left: 10px; margin-right: -10px">
            <h2><b>Ihre aktuellen Einkaufswünsche/Dienste</b></h2>
            {% block content_akt_auftrag %}
                <div class="col-md-auto img-rounded" style="background: #0f6674">
                    {% if akt_auftrag %}
                        <div class="row">
                            <div class="col-md-10" style="margin-left: 10px">
                                <div class="row content-ct">
                                    <div class="img-rounded col-md-2 col-md-offset-4" style="font-size: large; margin-top: 5px">STATUS:</div>
                                    <div class="img-rounded col-md-2" style="background: #9d9d9d; font-size: large; margin-top: 5px"> {{ akt_auftrag.status }}
                                    </div>
                                </div>
                                <p style="text-align: left">Nachricht: <br>{{ akt_auftrag.nachricht }}</p>
                                <p style="text-align: left">Einkaufsliste: <br>{{ akt_auftrag.liste_text }}</p>
                                <p style="text-align: left">Budget: {{ akt_auftrag.budget }}</p>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-1">
                            </div>
                            {% if akt_auftrag.status == "aktiv" or akt_auftrag.status == "angenommen" %}
                                <div class="col-md-3" style="margin-bottom: 5px">
                                    <button type="button" class="btn" style="font-size: 20px; color:#ffffff; background: #63b58c;" id="abschließen">
                                        <p style="padding-top: 5px">Auftrag als abgeschlossen markieren</p>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="col-md-3">
                            </div>
                            {% if akt_auftrag.status == "aktiv" %}
                                <div class="col-md-2" style="margin-bottom: 5px">
                                    <button type="button" class="btn" style="font-size: 20px; color:#ffffff; background: #a3352f;" id="widerrufen">
                                        <p style="padding-top: 5px">Auftrag widerrufen</p>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="col-md-1">
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}

            {% block content_akt_auftrag_2 %}
                <div class="col-md-auto img-rounded" style="background: #798f96; margin-top: 10px; margin-bottom: 10px">
                    {% if akt_auftrag2 %}
                        <div class="row">
                            <div class="col-md-10" style="margin-left: 10px">
                                <div class="row content-ct">
                                    <div class="img-rounded col-md-2 col-md-offset-4" style="font-size: large; margin-top: 5px">STATUS:</div>
                                    <div class="img-rounded col-md-2" style="background: #9d9d9d; font-size: large; margin-top: 5px"> {{ akt_auftrag2.status }}
                                    </div>
                                </div>
                                <p style="text-align: left">Nachricht: <br>{{ akt_auftrag2.nachricht }}</p>
                                <p style="text-align: left">Einkaufsliste: <br>{{ akt_auftrag2.liste_text }}</p>
                                <p style="text-align: left">Budget: {{ akt_auftrag2.budget }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            {% if akt_auftrag.status == "aktiv" or akt_auftrag.status == "angenommen" %}
                                <div class="col-md-3" style="margin-bottom: 5px">
                                    <button type="button" class="btn" style="font-size: 20px; color:#ffffff; background: #63b58c;" id="abschließen2">
                                        <p style="padding-top: 5px">Auftrag als abgeschlossen markieren</p>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="col-md-3">
                            </div>
                            {% if akt_auftrag.status == "aktiv" %}
                                <div class="col-md-2" style="margin-bottom: 5px">
                                    <button type="button" class="btn" style="font-size: 20px; color:#ffffff; background: #a3352f;" id="widerrufen2">
                                        <p style="padding-top: 5px">Auftrag widerrufen</p>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="col-md-1">
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>

         <!-- <pre id="output" style="display: none; font-size: 20px; color:#ffffff; width: 854px; max-height: 480px; background: #B5C9C3;"></pre> -->
        </div>
    </div>

  <!-- jQuery (necessary for AJAX / JQuery JavaScript plugins) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

<script>
$("#widerrufen").click(function (e) {
      dialog.confirm({
        message: 'Sind Sie sicher, dass Sie ihren aktuellen Einkaufswunsch widerrufen möchten?',
        cancel: "Nein, den Aufrag gelistet lassen",
        button: "Ja!",
        required: true,
        callback: function(response){
            var ID_auftrag = "{{ akt_auftrag.id }}";
            var ID_user_auftrag = "{{ akt_auftrag.user_id }}";
            removeListing(e, ID_auftrag, ID_user_auftrag)
        }
    });
});
$("#abschließen").click(function (e) {
  dialog.confirm({
        message: "Ist Ihr Auftrag erfolgreich abgeschlossen worden?",
        cancel: "Nein, den Aufrag aktiv lassen",
        button: "Ja!",
        required: true,
        callback: function(response){
            var ID_auftrag = "{{ akt_auftrag.id }}";
            var ID_user_auftrag = "{{ akt_auftrag.user_id }}";
            closeListing(e, ID_auftrag, ID_user_auftrag)
        }
    });
});

$("#widerrufen2").click(function (e) {
      dialog.confirm({
        message: 'Sind Sie sicher, dass Sie ihren aktuellen Einkaufswunsch widerrufen möchten?',
        cancel: "Nein, den Aufrag gelistet lassen",
        button: "Ja!",
        required: true,
        callback: function(response){
            var ID_auftrag = "{{ akt_auftrag2.id }}";
            var ID_user_auftrag = "{{ akt_auftrag2.user_id }}";
            removeListing(e, ID_auftrag, ID_user_auftrag)
        }
    });
});
$("#abschließen2").click(function (e) {
  dialog.confirm({
        message: "Ist Ihr Auftrag erfolgreich abgeschlossen worden?",
        cancel: "Nein, den Aufrag aktiv lassen",
        button: "Ja!",
        required: true,
        callback: function(response){
            var ID_auftrag = "{{ akt_auftrag2.id }}";
            var ID_user_auftrag = "{{ akt_auftrag2.user_id }}";
            closeListing(e, ID_auftrag, ID_user_auftrag)
        }
    });
});
</script>
  <script>
      function removeListing(e, ID, ID_user) {
          // e.preventDefault()
          $.ajax({
                type: 'POST',
                url: "{% url 'setInactive' %}",
                data: {"id_listing": ID,
                        "user_id": ID_user,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'},

                success: function (response) {
                    location.reload()
                    dialog.alert({
                        title: "Bestätigung",
                        message: "Ihre Anfrage den Einkaufswunsch zu entfernen  war erfolgreich!",
                        button: "OK",
                        animation: "fade",
                    });
                },
                error: function (response) {
                    dialog.alert({
                        title: "Leider nicht erfolgreich",
                        message: "Ihre Anfrage den Einkaufswunsch zu entfernen ist fehlgeschlagen, " +
                                    "bitte versuchen Sie es in ein paar Minuten erneut oder wenden " +
                                    "Sie sich an unsere Service-Email: helfer@uber.space",
                        button: "OK",
                        animation: "fade",
                        callback: function(value){
                            location.reload()
                        }
                    });
                }
            })
      }
      function closeListing(e, ID, ID_user) {
        $.ajax({
                type: 'POST',
                url: "{% url 'setDone' %}",
                data: {"id_listing": ID,
                        "user_id": ID_user,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'},

                success: function (response) {
                    dialog.alert({
                        title: "Bestätigung",
                        message: "Ihre Anfrage den Einkaufswunsch abzuschließen war erfolgreich!",
                        button: "OK",
                        animation: "fade",
                        callback: function(value){
                            location.reload()
                        }
                    });

                    location.reload()
                },
                error: function (response) {
                    dialog.alert({
                        title: "Leider nicht erfolgreich",
                        message: "Ihre Anfrage den Einkaufswunsch abzuschließen ist fehlgeschlagen, " +
                                    "bitte versuchen Sie es in ein paar Minuten erneut oder wenden " +
                                    "Sie sich an unsere Service-Email: helfer@uber.space",
                        button: "OK",
                        animation: "fade",
                        callback: function(value){
                            location.reload()
                        }
                    });
                }
            })
      }
  </script>

</body>