{% extends 'base_less.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

{% block headcontent %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Corona Einkaufshelfer">
  <meta name="author" content="Marius Steger">
  <meta http-equiv="refresh" content="600" >
  <title>Einkaufshilfe erhalten</title>

    <!-- Dialog Plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/build_dialog/jquery.dialog.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/build_dialog/jquery.dialog.css' %}">

{% endblock %}

<!--<body id="page-top" style="min-height: 100%; background: #99AEB5">-->
{% block header %}
{% endblock %}

{% block section %}
  <section class="container-fluid" style="background: #99aeb5;">
    <!-- Start: Schwarzes Brett -->
    <div class="row hero-header content-ct" style="padding-top: 15px; padding-bottom: 20px;">

        <a href="#page-top">
            <div class="col-lg-2 img-rounded" style="font-size: 20px; color:#ffffff; background: #8ea995;">
                <p style="padding-top: 5px">top</p>
            </div>
        </a>
    </div>
    <div class="row" style="padding-top: 15px; padding-bottom: 20px;">
        <div class="col-lg-6 text-center" style="color:#ffffff; background: #9cc5ca; margin-top: 10px; border-radius: 20px">
            <h2 style="margin-top: 10px"><b>Einkaufsauftrag erstellen</b></h2>

            <div class="form-group" style="color:#000000; font-size: larger">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                      <div class="col-md-12">
                        {% if field.help_text %}
                        {{ field.help_text }}<br>
                        {% endif %}
                        {{ field }}
                      </div>
                    {% endfor %}
                <div class="row justify-content-center">
                    <div class="md-col-3" style="font-size: xx-large">
                        <button class="btn btn-success" type="submit" style="font-size: xx-large">Auftrag erstellen</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6 text-center" style="color:#ffffff; background: #8eb4b5; margin-top: 10px; padding-left: 30px; border-radius: 20px">
            <h2 style="margin-top: 10px"><b>Ihre aktuellen Einkaufswünsche/Dienste</b></h2>
                    {% for message in messages_act %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            {{ message }}
                        </div>
                    {% endfor %}

                <div class="col-md-auto" style="background: #8ea995; border-radius: 20px">
                    {% if akt_auftrag %}
                        <div class="row">
                            <div class="col-md-10" style="margin-left: 10px">
                                <div class="row content-ct">
                                    <div class="img-rounded col-md-2 col-md-offset-4" style="font-size: large; margin-top: 5px; border-radius: 5px">STATUS:</div>
                                    {% if akt_auftrag.status == "aktiv" or akt_auftrag.status == "angenommen" %}
                                        <div class="img-rounded col-md-3" style="background: #9bcaa7; font-size: large; margin-top: 5px; border-radius: 5px"> {{ akt_auftrag.status }}</div>
                                    {% else %}
                                        <div class="img-rounded col-md-3" style="background: #9d9d9d; font-size: large; margin-top: 5px; border-radius: 5px"> {{ akt_auftrag.status }}</div>
                                    {% endif %}
                                </div>
                                <p style="text-align: left">Nachricht: <br>{{ akt_auftrag.nachricht }}</p>
                                <p style="text-align: left">Einkaufsliste: <br>{{ akt_auftrag.liste_text }}</p>
                                <p style="text-align: left">Budget: {{ akt_auftrag.budget }}</p>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-1">
                            </div>
                            {% if akt_auftrag.status == "aktiv" or akt_auftrag.status == "angenommen" %}
                                <div class="col-md-4" style="margin-bottom: 5px">
                                    <button type="button" class="btn" style="font-size: 20px; color:#ffffff; background: #63b58c;" id="abschließen">
                                        <p style="padding-top: 5px">Ich habe meinen Wunsch erhalten. Hiermit abschließen</p>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="col-md-2">
                            </div>
                            {% if akt_auftrag.status == "aktiv" %}
                                <div class="col-md-2" style="margin-bottom: 5px">
                                    <button type="button" class="btn" style="font-size: 20px; color:#ffffff; background: #a3352f;" id="widerrufen">
                                        <p style="padding-top: 5px">Auftrag widerrufen</p>
                                    </button>
                                </div>
                            {% endif %}
                            <div class="col-md-1">
                            </div>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-auto" style="background: #f5c182; margin-top: 10px; margin-bottom: 10px; border-radius: 20px">
                    {% if akt_auftrag2 %}
                        <div class="row">
                            <div class="col-md-10" style="margin-left: 10px">
                                <div class="row content-ct">
                                    <div class="img-rounded col-md-2 col-md-offset-4" style="font-size: large; margin-top: 5px; border-radius: 5px">STATUS:</div>
                                    {% if akt_auftrag2.status == "aktiv" or akt_auftrag2.status == "angenommen" %}
                                        <div class="img-rounded col-md-3" style="background: #9bcaa7; font-size: large; margin-top: 5px; border-radius: 5px"> {{ akt_auftrag2.status }}</div>
                                    {% else %}
                                        <div class="img-rounded col-md-3" style="background: #9d9d9d; font-size: large; margin-top: 5px; border-radius: 5px"> {{ akt_auftrag2.status }}
                                    {% endif %}
                                    </div>
                                </div>
                                <p style="text-align: left">Nachricht: <br>{{ akt_auftrag2.nachricht }}</p>
                                <p style="text-align: left">Einkaufsliste: <br>{{ akt_auftrag2.liste_text }}</p>
                                <p style="text-align: left">Budget: {{ akt_auftrag2.budget }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>

                            {% if akt_auftrag2.status == "aktiv" or akt_auftrag2.status == "angenommen" %}
                                <div class="col-md-4" style="margin-bottom: 5px">
                                    <button type="button" class="btn" style="font-size: 20px; color:#ffffff; background: #63b58c;" id="abschließen2">
                                        <p style="padding-top: 5px">Ich habe meinen Wunsch erhalten. Hiermit abschließen</p>
                                    </button>
                                </div>
                            {% endif %}

                            <div class="col-md-2"></div>

                            {% if akt_auftrag2.status == "aktiv" %}
                                <div class="col-md-2" style="margin-bottom: 5px">
                                    <button type="button" class="btn" style="font-size: 20px; color:#ffffff; background: #a3352f;" id="widerrufen2">
                                        <p style="padding-top: 5px">Auftrag widerrufen</p>
                                    </button>
                                </div>
                            {% endif %}

                            <div class="col-md-1"></div>
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>
</section>
{% endblock %}

{% block add_scripts %}
  <!-- Bootstrap CDN -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- jQuery (necessary for AJAX / JQuery JavaScript plugins) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<script>
$("#widerrufen").click(function (e) {
      dialog.confirm({
        message: 'Sind Sie sicher, dass Sie ihren aktuellen Einkaufswunsch widerrufen möchten?',
        cancel: "Nein, den Aufrag gelistet lassen",
        button: "Ja!",
        required: true,
        callback: function(response){
            var ID_auftrag = "{{ akt_auftrag.id }}";
            var ID_user_auftrag = "{{ akt_auftrag.user_id }}";
            removeListing(e, ID_auftrag, ID_user_auftrag)
        }
    });
});
$("#abschließen").click(function (e) {
  dialog.confirm({
        message: "Ist Ihr Auftrag erfolgreich abgeschlossen worden?",
        cancel: "Nein, den Aufrag aktiv lassen",
        button: "Ja!",
        required: true,
        callback: function(response){
            var ID_auftrag = "{{ akt_auftrag.id }}";
            var ID_user_auftrag = "{{ akt_auftrag.user_id }}";
            closeListing(e, ID_auftrag, ID_user_auftrag)
        }
    });
});

$("#widerrufen2").click(function (e) {
      dialog.confirm({
        message: 'Sind Sie sicher, dass Sie ihren aktuellen Einkaufswunsch widerrufen möchten?',
        cancel: "Nein, den Aufrag gelistet lassen",
        button: "Ja!",
        required: true,
        callback: function(response){
            var ID_auftrag = "{{ akt_auftrag2.id }}";
            var ID_user_auftrag = "{{ akt_auftrag2.user_id }}";
            removeListing(e, ID_auftrag, ID_user_auftrag)
        }
    });
});
$("#abschließen2").click(function (e) {
  dialog.confirm({
        message: "Ist Ihr Auftrag erfolgreich abgeschlossen worden?",
        cancel: "Nein, den Aufrag aktiv lassen",
        button: "Ja!",
        required: true,
        callback: function(response){
            var ID_auftrag = "{{ akt_auftrag2.id }}";
            var ID_user_auftrag = "{{ akt_auftrag2.user_id }}";
            closeListing(e, ID_auftrag, ID_user_auftrag)
        }
    });
});
</script>
  <script>
      function removeListing(e, ID, ID_user) {
          // e.preventDefault()
          $.ajax({
                type: 'POST',
                url: "{% url 'setInactive' %}",
                data: {"id_listing": ID,
                        "user_id": ID_user,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'},

                success: function (response) {
                    location.reload()
                    dialog.alert({
                        title: "Bestätigung",
                        message: "Ihre Anfrage den Einkaufswunsch zu entfernen  war erfolgreich!",
                        button: "OK",
                        animation: "fade",
                    });
                },
                error: function (response) {
                    dialog.alert({
                        title: "Leider nicht erfolgreich",
                        message: "Ihre Anfrage den Einkaufswunsch zu entfernen ist fehlgeschlagen, " +
                                    "bitte versuchen Sie es in ein paar Minuten erneut oder wenden " +
                                    "Sie sich an unsere Service-Email: helfer@uber.space",
                        button: "OK",
                        animation: "fade",
                        callback: function(value){
                            location.reload()
                        }
                    });
                }
            })
      }
      function closeListing(e, ID, ID_user) {
        $.ajax({
                type: 'POST',
                url: "{% url 'setDone' %}",
                data: {"id_listing": ID,
                        "user_id": ID_user,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'},

                success: function (response) {
                    dialog.alert({
                        title: "Bestätigung",
                        message: "Ihre Anfrage den Einkaufswunsch abzuschließen war erfolgreich!",
                        button: "OK",
                        animation: "fade",
                        callback: function(value){
                            location.reload()
                        }
                    });

                    location.reload()
                },
                error: function (response) {
                    dialog.alert({
                        title: "Leider nicht erfolgreich",
                        message: "Ihre Anfrage den Einkaufswunsch abzuschließen ist fehlgeschlagen, " +
                                    "bitte versuchen Sie es in ein paar Minuten erneut oder wenden " +
                                    "Sie sich an unsere Service-Email: helfer@uber.space",
                        button: "OK",
                        animation: "fade",
                        callback: function(value){
                            location.reload()
                        }
                    });
                }
            })
      }
  </script>
{% endblock %}