{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h2>Herzlich Willkommen {{ username }}!</h2><br>
    <h4>Sie sind angemeldet als {% if group == "E" %}
            Empfänger der Nachbarschaftshilfe.
            {% elif group == "H" %}
            EinkaufshelferIn.
        {% endif %}
    </h4> <br>

    <div class="row justify-content-center">
        {% if group == "E" %}
            <a href="{% url 'einkaufsliste' %}">
                <div class="col-md-auto img-rounded" style="font-size: x-large; color:#ffffff; background: #63b58c;">
                    <p style="padding-top: 5px">Klicken Sie hier um einen Einkaufswunsch abzusetzen!</p>
                </div>
            </a>
        {% elif group == "H" %}
            <a href="{% url 'blackboard' %}">
                <div class="col-md-auto img-rounded" style="font-size: x-large; color:#ffffff; background: #63b58c;">
                    <p style="padding-top: 5px">Klicken Sie hier um aktuelle Einkaufswünsche zu sehen!</p>
                </div>
            </a>
            <a href="{% url 'helfer_einkaufslisten' %}">
                <div class="col-md-auto img-rounded" style="font-size: x-large; color:#ffffff; background: #63b58c;">
                        <p style="padding-top: 5px">Klicken Sie hier um Ihre angenommenen Einkaufsaufträge anzusehen!</p>
                </div>
            </a>
        {% endif %}
    </div>
{% endblock %}