{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h2>Herzlich Willkommen {{ username }}!</h2><br>
    <h4>Sie sind registriert als {% if group == "E" %}
            Empfänger der Nachbarschaftshilfe.
            {% elif group == "H" %}
            EinkaufshelferIn.
        {% endif %}
    </h4> <br>

    <div class="row justify-content-center">
        {% if group == "E" %}
            <a href="{% url 'einkaufsliste' %}">
                <div class="col-md-auto text-center" style="font-size: x-large; color:#ffffff; background: #9bcaa7; border-radius: 5px">
                    <p style="padding-top: 5px">Klicken Sie hier um einen Einkaufswunsch oder anderen Dienst auf dem schwarzen Brett zu veröffentlichen.</p>
                </div>
            </a>
        {% elif group == "H" %}
            <a href="{% url 'blackboard' %}">
                <div class="col-md-auto text-center" style="font-size: x-large; color:#ffffff; background: #356774;border-radius: 5px">
                    <p style="padding-top: 5px">Klicken Sie hier um aktuelle Einkaufswünsche/Aufträge auf dem schwarzen Brett zu sehen!</p>
                </div>
            </a>
            <a href="{% url 'helfer_einkaufslisten' %}">
                <div class="col-md-auto text-center" style="font-size: x-large; color:#ffffff; background: #9bcaa7;border-radius: 5px">
                        <p style="padding-top: 5px">Klicken Sie hier um Ihre angenommenen Einkaufsaufträge/Aufträge anzusehen! <br>Sie finden hier außerdem die Kontaktdaten der Auftraggeber</p>
                </div>
            </a>
        {% endif %}
    </div>
{% endblock %}