{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h2>Herzlich Willkommen!</h2><br>
    <p>Sie sind angemeldet als {{ username }},
        Gruppe: {% if group == "E" %}
            Empfänger der Einkaufshilfe.
            {% elif group == "H" %}
            Einkaufshelfer.
        {% endif %}
    </p>
    <div class="row content-ct">

    {% if group == "E" %}
        <a href="{% url 'einkaufsliste' %}">
            <div class="col-md-8 img-rounded" style="font-size: 20px; color:#ffffff; background: #63b58c;">
                <p style="padding-top: 5px">Klicken Sie hier um einen Einkaufswunsch abzusetzen!</p>
            </div>
        </a>
    {% elif group == "H" %}
        <a href="{% url 'blackboard' %}">
            <div class="col-md-auto img-rounded" style="font-size: 20px; color:#ffffff; background: #63b58c;">
                <p style="padding-top: 5px">Klicken Sie hier um aktuelle Einkaufswünsche zu sehen!</p>
            </div>
        </a>
        <a href="{% url 'helfer_einkaufslisten' %}">
            <div class="col-md-auto img-rounded" style="font-size: 20px; color:#ffffff; background: #63b58c;">
                    <p style="padding-top: 5px">Klicken Sie hier um Ihre angenommenen Einkaufsaufträge anzusehen!</p>
            </div>
        </a>
    {% endif %}

    <div class="row col-md-8">
        <a href="{% url 'start' %}">
            <div class="col-md-auto float-left" style="font-size: 20px; color:#ffffff; background: #73b56e;">
                <p style="padding-top: 5px">Zurück zur Startseite</p>
            </div>
        </a>
        <a href="{% url 'logout' %}">
            <div class="col-md-auto float-right" style="font-size: 20px; color:#ffffff; background: #a3352f;">
                <p style="padding-top: 5px">Abmelden</p>
            </div>
        </a>
    </div>

    </div>
{% endblock %}