<!doctype html>

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Einkaufshelfer - Registrierung</title>

      <script>
        function addElement(elementTag, elementId, dict, map, id) {
            // Adds an element to the document
            var p = document.getElementById(id);
            var newElement = document.createElement(elementTag);
            newElement.setAttribute('id', elementId);
            newElement.innerHTML = dict["nachricht"];

            newElement.className = 'col-md-auto img-rounded';
            newElement.innerHTML = '<p>Nachricht:<br>'+dict["nachricht"]+'<br></p>'+
                    '<div class"col-xs-auto img-rounded" style="background: #99aeb5">'+
                    '<p>Einkaufswunsch:</p>'+ dict["liste_text"]+'</div> <br>'+
                    '<p>Budget: '+ dict["budget"]+'€ Ort:'+ map[dict["user"]] +'</p>'+
                    '<p>Telefonnumer: '+ dict["telefonnummer"]+'</p>';

            // Css styling
            newElement.setAttribute("style", "background: #0f6674; float: left; text-align: " +
                "left; margin-right: 10px; min-width: 10%; max-width: 33%; padding: 5px; margin-bottom: 10px;" +
                "cursor: pointer");
            newElement.setAttribute("id", elementId);
            //newElement.setAttribute("onclick","onClickAuftrag(this)");

            p.appendChild(newElement);
        }

        function clearElements(id){
            var element = document.getElementById(id);
            while (element.firstChild) {
              element.removeChild(element.firstChild);
            }
        }
        function addNoElementsMessage(id){
            var p = document.getElementById(id);
            var newElement = document.createElement("div");
            newElement.setAttribute('id', "NoElementsMessage");
            newElement.innerHTML = "Aktuell haben Sie keine aktiven Einkaufsaufträge";

            p.appendChild(newElement);
        }

        </script>
        <script>
        function showAccepted() {

            $.ajax({
                type: 'GET',
                url: "{% url 'getAccepted' %}",

                success: function (response) {
                    // if not valid user, alert the user
                    if(response["valid"]){
                        console.log(response["data"]);

                        var auftraege_ang = JSON.parse(response["data_a"]);

                        if (auftraege_ang.length > 0) {
                            clearElements("elements_active");
                            auftraege_ang.forEach(function(element) {
                                addElement("div", element["pk"], element["fields"], response["map"], "elements_active");
                            });
                        } else {
                            clearElements("elements_active");
                            addNoElementsMessage("elements_active");
                        }

                        var auftraege_closed = JSON.parse(response["data_closed"]);

                        if (auftraege_closed.length > 0) {
                            clearElements("elements_closed");
                            auftraege_closed.forEach(function(element) {
                                addElement("div", element["pk"], element["fields"], response["map"], "elements_closed");
                            });
                        } else {
                            clearElements("elements_closed");
                            addNoElementsMessage("elements_closed");
                        }
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
        }
        </script>
    <script>
        window.onload = showAccepted;
    </script>

  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <h1 class="mt-2">Einkaufshelfer Rauenberg</h1>
          <hr class="mt-0 mb-4">
            {% block content %}
                <h2>Ihre angenommenen Einkaufsaufträge:</h2><br>
                <p>Sie sind angemeldet als {{ username }},
                    Gruppe: {% if group == "E" %}
                        Empfänger der Einkaufshilfe.
                        {% elif group == "H" %}
                        Einkaufshelfer.
                    {% endif %}
                </p>
                <a href="{% url 'logout' %}">
                    <div class="col-md-2 img-rounded" style="font-size: 20px; color:#ffffff; background: #a3352f;">
                        <p style="padding-top: 5px">Abmelden</p>
                    </div>
                </a>
                <div class="row-cols-6">
                    <h2 class="mt-2">Angenommene Aufträge (aktiv)</h2>
                    <div class="row content-ct" id="elements_active">
                </div>
                </div>
                <div class="row-cols-6">
                    <h2 class="mt-2">Abgeschlossene Aufträge</h2>
                    <div class="row content-ct" id="elements_closed">
                </div>
                </div>
            {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>