{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h1>Anleitung</h1>
    <br>
    <a href="#helfen">
        <h4>Ich möchte helfen!</h4>
    </a>
    <br>
    <a href="#geholfen">
        <h4>Ich benötige Hilfe!</h4>
    </a>
    <br>
    <a href="#aktuelles">
        <h4>Informationen zur aktuellen Lage in Deutschland</h4>
    </a>
    <br>

    <h2>Wie funktioniert die Nachbarschaftshilfe?</h2>
        <p>Schon vor der Anmeldung ist es möglich unter dem Menüpunkt "Schwarzes Brett" die Gesuche von anderen Bürgern aus Rauenberg einzusehen.</p>
        <p>Gelistete Aufträge können von Helfern angenommen werden. Anschließend stehen die Kontaktdaten der Auftragsperson zur Verfügung.</p>
        <p>Erfüllt den Auftrag und der Hilfsempfänger kann ihn als abgeschlossen markieren und neue Aufträge auf das schwarze Brett setzen.</p>
        <p>Die Initiative von Helfern ist in dieser schweren Zeit mehr denn je gefordert, doch gemeinsam können wir anderen das Alltägliche ermöglichen.</p>
    <br>

    <h2 id="helfen">Wie kann ich helfen?</h2>
        <p style="margin-left: 10px">Im ersten Schritt registrieren Sie sich. Dafür klicken Sie auf der Startseite auf "Als HelferIn für Eure Nachbarn registrieren und aktiv werden."</p>
        <p style="margin-left: 10px">Falls Sie bereits registriert sind, melden Sie sich oben links im Internet-Browser an.</p>
        <p style="margin-left: 10px">Anschließend ist es unter "Mein Bereich" möglich Aufträge anzunehmen oder bereits angenommene Aufträge, mit den Kontaktdaten der Auftraggeber einzusehen.</p>
        <p style="margin-left: 10px">Zur Annahme von neuen Aufträgen navigieren Sie zum "Scharzen Brett", dabei ist es wichtig angemeldet zu sein.</p>
        <p style="margin-left: 10px">Falls keine Aufträge sichtbar sind, versuchen Sie die Ortsauswahl auf "Alle Ortsteile" zu stellen.</p>
        <p style="margin-left: 10px">Angemeldet ist es nun möglich Aufträge anzuwählen und anzunehmen.</p>

        <p style="margin-left: 10px">Bei weiteren Fragen melden Sie sich bitte mit einer Mail bei: helfer@uber.space</p>
    <br>
    <h2 id="geholfen">Wie kann ich um Hilfe bitten?</h2>
    <br>
    <h4>Hilfegesuch einstellen:</h4>
        <p style="margin-left: 10px">Im ersten Schritt registrieren Sie sich. Dafür klicken Sie auf der Startseite auf "Registrieren um Hilfsangebote zu erhalten."</p>
        <p style="margin-left: 10px">Falls Sie bereits registriert sind, melden Sie sich oben links im Internet-Browser an.</p>
        <p style="margin-left: 10px">Anschließend ist es unter "Mein Bereich" möglich Aufträge einzustellen. </p>
        <p style="margin-left: 10px">Dafür füllen Sie das Formular unter "Mein Bereich" -> "Klicken Sie hier um einen Einkaufswunsch oder anderen Dienst auf dem schwarzen Brett zu veröffentlichen." aus.</p>
        <p style="margin-left: 10px">Bei weiteren Fragen melden Sie sich bitte mit einer Mail bei: helfer@uber.space</p>

    <br>
    <h4>Hilfegesuch abschließen</h4>
        <p style="margin-left: 10px">Falls Sie nicht angemeldet sind, melden Sie sich oben links im Internet-Browser an.</p>
        <p style="margin-left: 10px">Unter "Mein Bereich" -> "Klicken Sie hier um einen Einkaufswunsch oder anderen Dienst auf dem schwarzen Brett zu veröffentlichen."
            werden auf der rechten Seite (Am Smarthphone: nach unten Scrollen) ihre aktuellen Einkaufswünsche oder anderen Gesuche angezeigt.</p>
        <p style="margin-left: 10px">Wenn Sie ihren Einkauf erhalten haben, schließen Sie den Auftrag ab, indem Sie auf den grünen Knopf drücken und dies anschließend bestätigen</p>
        <p style="margin-left: 10px">Wenn Sie ihr Gesuch abbrechen und den Auftrag widerrufen möchten, drücken Sie auf den roten Knopf und bestätigen dies.</p>
        <p style="margin-left: 10px">Bei weiteren Fragen melden Sie sich bitte mit einer Mail bei: helfer@uber.space</p>
    <br>


    <h2 id="aktuelles">Informationen und Links zur aktuellen Lage in Deutschland</h2>
    <ul>
        <li style="font-size: large"><a href="https://www.rki.de/DE/Home/homepage_node.html">Robert Koch Institut</a></li>
    </ul>

{% endblock %}