{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <a href="{% url 'start' %}">
        <div class="col-md-auto img-rounded" style="font-size: 20px; color:#ffffff; background: #63b58c;">
            <p style="padding-top: 5px">Zurück zur Startseite</p>
        </div>
    </a>
    <h1>Anleitung</h1>
    <p>FAQ ist noch in Arbeit</p>
    <br>

    <h2>Wem soll diese Seite helfen?</h2>
    <p>Todo</p>
    <br>

    <h2>Wie kann geholfen werden?</h2>
    <p>Todo</p>
    <br>

    <h2>Ratschläge und Informationen zur Übergabe</h2>
    <p>Liste</p>
    <ul>
        <li>1</li>
        <li>2</li>
    </ul>

{% endblock %}