{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

{% block content %}
    <h1 style="margin-top: 2rem">Anleitung</h1>
    <br>
    <a href="#helfen">
        <h4>Ich möchte helfen!</h4>
    </a>
    <br>
    <a href="#geholfen">
        <h4>Ich benötige Hilfe!</h4>
    </a>
    <br>
    <a href="#telefon">
        <h4>Telefon-Hotline und Aufträge per Mail</h4>
    </a>
    <br>
    <a href="#loeschen">
        <h4>Ich möchte meinen Account wieder löschen!</h4>
    </a>
    <br>
    <a href="#feedback">
        <h4>Ich habe eine Idee oder Feedback zur Verbesserung der Website</h4>
    </a>
    <br>
    <a href="#aktuelles">
        <h4>Informationen zur aktuellen Lage in Deutschland</h4>
    </a>
    <br>

    <h2>Wie funktioniert die Nachbarschaftshilfe?</h2>
        <p>Schon vor der Anmeldung ist es möglich unter dem Menüpunkt "Schwarzes Brett" die Gesuche von anderen Bürgern aus Rauenberg einzusehen.</p>
        <p>Gelistete Aufträge können von Helfern angenommen werden. Anschließend stehen die Kontaktdaten der Auftragsperson zur Verfügung.</p>
        <p>Ist der Auftrag erfüllt kann der Hilfsempfänger ihn als abgeschlossen markieren und neue Aufträge auf das schwarze Brett setzen.</p>
        <p>Die Initiative von Helfern ist in dieser schweren Zeit mehr denn je gefordert, doch gemeinsam können wir Anderen das Alltägliche ermöglichen.</p>

    <br id="helfen">
    <h2>Wie kann Ich helfen?</h2>
        <p>Im ersten Schritt registrieren Sie sich. Dafür klicken Sie auf der Startseite auf "Als HelferIn für Eure Nachbarn registrieren und aktiv werden."</p>
        <p>Falls Sie bereits registriert sind, melden Sie sich oben links im Internet-Browser an.</p>
        <p>Anschließend ist es unter "Mein Bereich" möglich Aufträge anzunehmen oder bereits angenommene Aufträge, mit den Kontaktdaten der Auftraggeber einzusehen.</p>
        <p>Zur Annahme von neuen Aufträgen navigieren Sie zum "Scharzen Brett", dabei ist es wichtig angemeldet zu sein.</p>
        <p>Falls keine Aufträge sichtbar sind, versuchen Sie die Ortsauswahl auf "Alle Ortsteile" zu stellen.</p>
        <p>Angemeldet ist es nun möglich Aufträge anzuwählen und anzunehmen.</p>

    <p>Für Fragen stehen Wir Ihnen gern zur Verfügung unter <a href="mailto:helfer@uber.space">helfer@uber.space</a></p>

    <br id="geholfen">
    <h2>Wie kann ich um Hilfe bitten?</h2>
    <br>
    <h4>Hilfegesuch/Auftrag einstellen:</h4>
        <p>Im ersten Schritt registrieren Sie sich. Dafür klicken Sie auf der Startseite auf "Registrieren um Hilfsangebote zu erhalten."</p>
        <p>Falls Sie bereits registriert sind, melden Sie sich oben links im Internet-Browser mit Ihrem Benutzernamen und Passwort an.</p>
        <p>Anschließend ist es unter "Mein Bereich" möglich Aufträge einzustellen. </p>
        <p>Dafür füllen Sie das Formular unter "Mein Bereich" -> "Klicken Sie hier um einen Einkaufswunsch oder anderen Dienst auf dem schwarzen Brett zu veröffentlichen." aus.</p>

    <p>Für Fragen stehen Wir Ihnen gern zur Verfügung unter <a href="mailto:helfer@uber.space">helfer@uber.space</a></p>

    <br>
    <h4>Hilfegesuch/Auftrag abschließen</h4>
        <p>Falls Sie nicht angemeldet sind, melden Sie sich oben links im Internet-Browser an.</p>
        <p>Unter "Mein Bereich" -> "Klicken Sie hier um einen Einkaufswunsch oder anderen Dienst auf dem schwarzen Brett zu veröffentlichen."
            werden auf der rechten Seite (Am Smarthphone: nach unten Scrollen) ihre aktuellen Einkaufswünsche oder anderen Aufträge angezeigt.</p>
        <p>Wenn Sie Ihren Einkauf erhalten haben, schließen Sie den Auftrag ab, indem Sie auf den entsprechenden grünen Knopf drücken und bestätigen Sie anschließend den Abschluss.</p>
        <p>Wenn Sie Ihren Auftrag abbrechen und ihn damit widerrufen möchten, drücken Sie auf den entsprechenden roten Knopf und bestätigen Sie den Abbruch anschließend.</p>

    <p>Für Fragen stehen Wir Ihnen gern zur Verfügung unter <a href="mailto:helfer@uber.space">helfer@uber.space</a></p>

    <br id="telefon">
    <h4>Hilfegesuch/Auftrag erstellen mit dem Telefon und per Mail</h4>
    <p>Außerdem ist es nun möglich mit einer Mail an <a href="mailto:helfer@uber.space">helfer@uber.space</a> Aufträge zu inserieren. Wichtig ist die Angabe Ihres Namens und Ihrer Telefonnummer und des Wohnsitz. Schreiben Sie einfach in einer Mail was Sie benötigen.</p>
    <p>Wir sind auch unter der <a style="color: #1abc9c">Telefonnumer: 01633057065</a> für Sie erreichbar. Senden Sie eine SMS, WhatsApp Nachicht oder rufen Sie an und sprechen bei Bedarf auf den Anrufbeantworter.</p>

    <br id="loeschen">
    <h2>Account löschen und damit alle Einträge und Daten löschen</h2>
    <p>Zur Löschung Ihres Accounts senden Sie bitte eine Email mit dem entsprechendem Betreff an <a href="mailto:helfer@uber.space">helfer@uber.space</a></p>

    <br id="feedback">
    <h2 >Feedback und Ideen zur Verbesserung</h2>
    <p>Für Feedback senden Sie bitte eine Email mit dem entsprechendem Betreff und Ihren Ideen an <a href="mailto:helfer@uber.space">helfer@uber.space</a></p>

    <br  id="aktuelles">
    <h2>Informationen und Links zur aktuellen Lage in Deutschland</h2>
    <p>Facebook, Instagram, Twitter und Youtube sind keine Nachrichtenportale, bitte informiert Euch auf nur auf offiziellen Kanälen.</p>
    <p>Hierzu gehören beispielsweise:</p>
    <ul>
        <li style="font-size: large"><a href="https://www.rki.de/DE/Home/homepage_node.html">Robert Koch Institut</a></li>
        <li style="font-size: large"><a href="https://www.baden-wuerttemberg.de/de/service/presse/pressemitteilungen/">Pressemitteilungen Land Baden-Württemberg</a></li>
        <li style="font-size: large"><a href="https://www.infektionsschutz.de/fileadmin/infektionsschutz.de/Downloads/Merkblatt-Verhaltensempfehlungen-Coronavirus.pdf">PDF Verhaltensempfehlung Coronavirus</a></li>
    </ul>

{% endblock %}