{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h2>Impressum</h2><br>
    <p> Betreiber Marius Steger<p>
    <p> Email: helfer@uber.space</p>

    <a href="{% url 'start' %}">
        <div class="col-md-auto img-rounded" style="font-size: 20px; color:#ffffff; background: #63b58c;">
            <p style="padding-top: 5px">Zurück zur Startseite</p>
        </div>
    </a>

{% endblock %}