{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
    <h2>Impressum</h2><br>
    <p>Betreiber: Marius Steger<p>
    <p>Ehemaliger Pfarrjugendleiter der KjG Rauenberg, Master Student Maschinenbau<p>
    <p>Website: <a href="https://syoy.github.io/">syoy.github.io</a><p>
    <p> Email: <a href="mailto:helfer@uber.space">helfer@uber.space</a></p>


    <a href="{% url 'datenschutz' %}" style="font-size: x-large; color: black">Datenschutzerklärung
    </a>

{% endblock %}