{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}
    <h2>Impressum</h2><br>
    <p>Kontakt St.Leon-Rot: Benjamin Laier<p>
    <p>Email: <a href="mailto:todo@uber.space">todo@uber.space</a></p>

    <br>
    <p>Gründer: Marius Steger<p>
    <p>Email: <a href="mailto:helfer@uber.space">helfer@uber.space</a></p>
    <p>Ehemaliger Pfarrjugendleiter der KjG Rauenberg, Master Student Maschinenbau<p>
    <br>
    <p>Grafik: Marie Zimmermann<p>
    <p>Produktionsleitung Badisches Staatstheater Karlsruhe<p>

    <br>
    <a href="{% url 'datenschutz' %}" style="font-size: x-large; color: black">Datenschutzerklärung
    </a>

{% endblock %}