<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Corona Einkaufshelfer">
  <meta name="author" content="Marius Steger">
  <meta http-equiv="refresh" content="180" >
  <title>Einkaufshelfer - offene Aufträge</title>

  <!-- Bootstrap -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/themify-icons.css" rel="stylesheet">
  <link href='static/css/dosis-font.css' rel='stylesheet' type='text/css'>
    <!--<style>
        html,
        body
        ::selection {
          background-color: #42dca3;
          color: #ffffff;
        }
        #textcolor {
          color: #000;
        }
    </style>
    -->
</head>
<body id="page-top" data-spy="scroll" data-target=".side-menu">
  <div class="container-fluid" style="background: #99aeb5; position:relative;">
    <!-- Start: Schwarzes Brett -->
    <div class="row hero-header content-ct" style="padding-top: 15px; padding-bottom: 20px;">
        <a href="/">
            <div class="col-md-2 img-rounded" style="font-size: 25px; color:#ffffff; background: #99aeb5;">
                <p style="padding-top: 3px">Zurück zur Anmeldung</p>
            </div>
        </a>

       {% for field in form %}
        <div class="col-md-3 img-rounded" style="font-size: 25px; color:#000000; background: #63b58c; margin-left: 10px;">
          <div class="fieldWrapper form-group">
            {{ field }}
          </div>
        </div>
       {% endfor %}

        <div class="col-lg-12 img-rounded" id="blackboard" style="color:#ffffff; width: 100%; height: 100%; margin-top: 5px; margin-left:-15px"> <!-- ; background: #B5C9C3"> -->
        <p colspan="2" style="font-size: 42px; text-align: center">Aktuelle Einkaufsaufträge</p>

        <div id="txtHint"><b>Einkaufsaufträge hier gelistet</b>
            TODO
        </div>

        </div>
    </div>
  </div>

  <!-- jQuery (necessary for AJAX / JQuery JavaScript plugins) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/jquery.easing.min.js"></script>
  <script src="static/js/scrolling-nav.js"></script>
  <script src="static/js/validator.js"></script>

  <script>
      /* query slected location listing*/
        $("#location").change(function (e) {
            e.preventDefault();
            // get the nickname
            var location = $(this).val();
            // GET AJAX request
            $.ajax({
                type: 'GET',
                url: "{% url 'query_listings_blackboard' %}",
                data: {"location": location,
                        "status": $("#status").val()},

                success: function (response) {
                    // if not valid user, alert the user
                    if(response["valid"]){
                        console.log("You selected location:" + response["selected_loc"]);
                        console.log(response["data"])
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
        })
  </script>
  <script>
      /* query slected location listing*/
        $("#status").change(function (e) {
            e.preventDefault();
            // get the nickname
            var status = $(this).val();
            // GET AJAX request
            $.ajax({
                type: 'GET',
                url: "{% url 'query_listings_blackboard' %}",
                data: {"location": $("#location").val(),
                        "status": status},

                success: function (response) {
                    // if not valid user, alert the user
                    if(response["valid"]){
                        console.log("You selected status:" + response["selected_status"]);
                        console.log(response["data"])
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
        })
  </script>
</body>