<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Corona Einkaufshelfer">
  <meta name="author" content="Marius Steger">
  <meta http-equiv="refresh" content="180" >
  <title>Einkaufshelfer - offene Aufträge</title>

  <!-- Bootstrap -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/themify-icons.css" rel="stylesheet">
  <link href='static/css/dosis-font.css' rel='stylesheet' type='text/css'>

</head>
<body id="page-top" data-spy="scroll" data-target=".side-menu">
    {% load widget_tweaks %}
  <div class="container-fluid" style="background: #99aeb5; position:relative;">
    <!-- Start: Schwarzes Brett -->
    <div class="row hero-header content-ct" style="padding-top: 15px; padding-bottom: 20px;">
        <a href="/">
            <div class="col-md-2 img-rounded" style="font-size: 25px; color:#ffffff; background: #99aeb5;">
                <p style="padding-top: 3px">Zurück zur Startseite</p>
            </div>
        </a>
    <div class="col-md-3" style="margin-right: 80px"></div>
       {% for field in form %}
        <div class="col-md-3 img-rounded" style="font-size: 25px; color:#000000; background: #129ba9; margin-left: 10px; padding-top: 4px;">
          <!-- TODO: visibility of text  -->
            <div class="form-group" style="margin: auto; margin-bottom: 4px">
            {{ field|add_class:'form-control' }}
            </div>
        </div>
       {% endfor %}
    </div>
        <div class="col-lg-12 img-rounded" id="blackboard" style="background:#99aeb5; color: #ffffff; width: 100%; height: 100%; margin-top: 5px;">
            <div class="row content-ct">
                <div class="col-md-auto img-rounded" style="background: #0f6674; font-size: 45px; text-align: center; margin-top: 10px; margin-bottom: 10px">Aktuelle Einkaufsaufträge</div>
            </div>
            <div class="row content-ct" id="blackboard_elements">

            </div>
        </div>

  </div>

  <!-- jQuery (necessary for AJAX / JQuery JavaScript plugins) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/jquery.easing.min.js"></script>
  <script src="static/js/scrolling-nav.js"></script>
  <!-- TODO js outsourcen
  <script src="static/js/validator.js"></script>
  <script src="static/js/blackboard.js"></script>
    -->
  <script>
    function addElement(elementTag, elementId, dict, map) {
        // Adds an element to the document
        var p = document.getElementById("blackboard_elements");
        var newElement = document.createElement(elementTag);
        newElement.setAttribute('id', elementId);
        newElement.innerHTML = dict["nachricht"];

        newElement.className = 'col-md-auto img-rounded';
        newElement.innerHTML = '<p>Nachricht:<br>'+dict["nachricht"]+'<br></p>'+
                '<div class"col-xs-auto img-rounded" style="background: #99aeb5">'+
                '<p>Einkaufswunsch:</p>'+ dict["liste_text"]+'</div> <br>'+
                 '<p>Budget: '+ dict["budget"]+'€ Ort:'+ map[dict["user"]] +'</p>';

        // Css styling
        newElement.setAttribute("style", "background: #0f6674; float: left; text-align: " +
            "left; margin-right: 5px; min-width: 10%; max-width: 33%; padding: 5px");

        p.appendChild(newElement);
    }

    function clearElements(){
        var element = document.getElementById("blackboard_elements");
        while (element.firstChild) {
          element.removeChild(element.firstChild);
        }
    }
    function addNoElementsMessage(){
        var p = document.getElementById("blackboard_elements");
        var newElement = document.createElement("div");
        newElement.setAttribute('id', "NoElementsMessage");
        newElement.innerHTML = "Für Ihre Auswahl wurden keine Treffer gefunden, bitte vergrößern Sie Ihren Suchraum.";

        p.appendChild(newElement);
    }

  </script>
    <script>
        function updateBlockboard(e, location, status) {
            e.preventDefault();
            // get the nickname
            // GET AJAX request
            $.ajax({
                type: 'GET',
                url: "{% url 'query_listings_blackboard' %}",
                data: {"location": location,
                        "status": status},

                success: function (response) {
                    // if not valid user, alert the user
                    if(response["valid"]){
                        console.log("You selected location:" + response["selected_loc"]);
                        console.log(response["data"]);

                        var auftraege = JSON.parse(response["data"]);
                        if (auftraege.length > 0) {
                            clearElements();
                            auftraege.forEach(function(element) {
                                addElement("div", element["pk"], element["fields"], response["map"]);
                            });
                        } else {
                            clearElements();
                            addNoElementsMessage();
                        }
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
        }
    </script>
  <script>
      /* query slected location listing*/
        $("#location").change(function (e) {
            var location = $(this).val();
            var status = $("#status").val();

            updateBlockboard(e, location, status)

        })
  </script>
  <script>
      /* query slected location listing*/
        $("#status").change(function (e) {
            var location = $("#location").val();
            var status = $(this).val();

            updateBlockboard(e, location, status)
        })
  </script>
</body>