{% extends 'base_less.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

{% block headcontent %}
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Einkaufshelfer und Nachbarschaftshilfe für St.Leon-Rot">
  <meta name="author" content="Marius Steger">
  <meta http-equiv="refresh" content="300" >

  <title>Einkaufshelfer St.Leon-Rot - Startseite</title>

    <!-- Dialog Plugin -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/build_dialog/jquery.dialog.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/build_dialog/jquery.dialog.css' %}">
{% endblock %}

{% block header %}
<!-- Masthead -->
  <header class="masthead text-white text-center" style="background: #ca6e5c">
    <div class="container d-flex align-items-center flex-column" style="margin-bottom: -3rem">

      <!-- Masthead Heading -->
        <div class="d-none d-xl-block" style="margin-top: -3rem;">
          <h1 class="masthead-heading text-uppercase mb-0">Willkommen bei den St.Leon-Roter Einkaufshelfern!</h1>
            <p class="masthead-subheading  mb-0" style="margin-top: 20px">Mit dieser WebApp kann Nachbarschaftshilfe in St.Leon-Rot koordiniert werden.
                Die <a style="color: #f5c182;" href="#registrierung">Registrierung</a> befindet sich weiter unten! Wir wollen ermöglichen, dass Ältere und Gefährdete angesichts der Corona-Krise nicht vergessen werden.
            </p>
            <p class="masthead-subheading  mb-0" style="margin-top: 20px">
                Sie könnnen Ihr Hilfsgesuch hier auf der Website aufgeben oder uns eine Mail an  <a style="color: #f5c182"  href="mailto:benjamin.handy@laier-gmbh.de">benjamin.handy@laier-gmbh.de</a> schreiben.
                <!--Seit neuestem können Sie uns unter der Telefonnummer <a style="color: #f5c182;" href="tel:01633057065">01633057065</a> erreichen.
                Schreiben Sie uns eine SMS oder rufen Sie uns einfach an. Wir helfen Ihnen gerne weiter.--></p>

            <p class="masthead-subheading  mb-0" style="margin-top: 20px">Bereits <a style="color: #f5c182;"> {{ count_user }} Nutzer</a> sind angemeldet.
            Auf dem <a style="color: rgba(1,5,6,1)" href="{%  url 'public_blackboard' %}">Schwarzen Brett</a> finden Sie aktuell <a style="color: #f5c182;">{{ count_Auftraege }} Aufträge</a>.</p>
            <!--<p class="masthead-subheading  mb-0" style="margin-top: 20px">Bereits <a style="color: #f5c182;"> {{ count_helfer }} HelferInnen</a> sind angemeldet und <a style="color: #f5c182;"> {{ count_Em }} Nachbarn</a>, die auf Hilfe angewiesen sind.
            Auf dem <a style="color: rgba(1,5,6,1)" href="{%  url 'public_blackboard' %}">Schwarzen Brett</a> finden Sie aktuell <a style="color: #f5c182;">{{ count_Auftraege }} Aufträge</a>.</p>-->

        </div>
        <div class="d-xl-none" style="margin-top: -3rem">
          <h1 class="masthead-heading text-uppercase mb-0" style="font-size: xx-large">Willkommen bei den St.Leon-Roter Einkaufshelfern!</h1>
            <p class="masthead-subheading  mb-0" style="margin-top: 20px">Wir wollen ermöglichen, dass Ältere und Gefährdete angesichts der Corona-Krise nicht vergessen werden. Die <a style="color: #f5c182;" href="#registrierung">Registrierung</a> finden Sie weiter unten!</p>
             <p class="masthead-subheading  mb-0" style="margin-top: 20px">
                Sie könnnen Ihr Hilfsgesuch hier auf der Website aufgeben oder uns eine Mail an  <a style="color: #f5c182"  href="mailto:benjamin.handy@laier-gmbh.de">benjamin.handy@laier-gmbh.de</a> schreiben.
                 <!--Seit neuestem können Sie uns unter der Telefonnummer <a style="color: #f5c182;" href="tel:01633057065">01633057065</a> erreichen.
                Schreiben Sie uns eine SMS oder rufen Sie uns einfach an. Wir helfen Ihnen gerne weiter.--></p>

            <p class="masthead-subheading  mb-0" style="margin-top: 20px">Bereits <a style="color: #f5c182;"> {{ count_user }} Nutzer</a> sind angemeldet.
            Auf dem <a style="color: rgba(1,5,6,1)" href="{%  url 'public_blackboard' %}">Schwarzen Brett</a> finden Sie aktuell <a style="color: #f5c182;">{{ count_Auftraege }} Aufträge</a>.</p>
        </div>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fa fa-hand-holding-heart"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Einkaufshilfe - Transporte - Nachbarschaftshilfe - Mit Hunden rausgehen</p>

    </div>
  </header>
{% endblock %}

{% block section %}

  <!-- Portfolio Section -->
  <section class="page-section portfolio" id="registrierung">
    <div class="container">

      <!-- Portfolio Grid Items -->
      <div class="row">

        <!-- Portfolio Item 2 -->
       <div class="col-md-6 col-lg-6" onclick="myhref('{% url 'signup_inneed' %}')">
          <div class="portfolio-item mx-auto" >
              <div class="portfolio-item-caption-content text-center" style="font-size: x-large; background: #7098af; padding-left: 5px">Ich benötige Einkaufshilfe oder andere Nachbarschaftsdienste.
              </div>
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">Registrieren um Hilfsangebote zu erhalten.
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/Empfaenger_Button.png' %}" alt="">
          </div>
        </div>

           <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-6">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#ModalHelfer">
              <div class="portfolio-item-caption-content text-center" style="font-size: x-large; background: #7098af; padding-left: 5px">Als HelferIn für Eure Nachbarn registrieren und aktiv werden.
              </div>
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">Jetzt helfen! <br>
                  Hier klicken für mehr Informationen.
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/portfolio/Helfer_Button.png' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
  </section>

 <!-- Portfolio Section -->
  <section class="page-section portfolio" id="vorstellung">
    <div class="container-fluid" style="background: #f5dab2; padding-bottom: 6rem; margin-bottom: -5rem; padding-top: 2rem; margin-top: -6rem">
      <!-- Portfolio Grid Items -->
      <div class="row justify-content-center">
        <!-- Portfolio Item 2 -->
       <div class="col-md-6 col-lg-6" style="font-size: large; text-align: center">
            <h1 class="masthead-heading text-uppercase mb-0" style="font-size: xx-large">Wer sind wir?</h1>
            <p class="masthead-subheading  mb-0" style="margin-top: 20px">Eine gemeinnützige Gruppe, die in Zeiten der Krise Hilfe und Solidarität zeigen möchte!</p>
            <p class="masthead-subheading  mb-0" style="margin-top: 1rem; text-align: center"><b>Leitung</b></p>
            <p class="masthead-subheading  mb-0" style="text-align: center">Benjamin Laier</p>
            <p class="masthead-subheading  mb-0" style="margin-top: 1rem; text-align: center"><b>Unterstützer und Vorlage</b></p>
            <p class="masthead-subheading  mb-0" style="text-align: center">Marius Steger</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </section>


  <!-- POPUP Modal 1 -->
  <div class="portfolio-modal modal fade" id="ModalHelfer" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">HelferIn werden</h2>
                  <br>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" src="{% static 'img/portfolio/Helfer_Button.png' %}" alt="" style="width: 70%">

                <!-- Portfolio Modal - Text -->
                <p class="mb-4" style="margin-top: 30px">Ihr könnt aktiv werden und Dienste für Eure Nachbarn übernehmen. Registriert euch und wählt Aufträge auf dem scharzen Brett aus.
                    Nach Annahme von Aufträgen könnt ihr mit dem Auftraggeber Kontakt aufnehmen.
                    Die ist unter <a style="color: #eb9b72;"><b>"Mein Bereich"</b></a> möglich, sobald ihr angemeldet seid.</p>
                <p class="mb-4">Das  <a style="color: #eb9b72;"><b>"Schwarze Brett"</b></a> ist anschließend auch zur Auftragsannahme freigeschaltet.</p>
                <p class="mb-4">Weitere Hilfe erhalten Sie unter <a style="color: #eb9b72;"><b>"Anleitung/FAQ"</b></a>, außerdem ist unter folgendem Link: <a href="https://www.suedkurier.de/ueberregional/panorama/Leitfaden-zur-Corona-Nachbarschaftshilfe-Das-sollten-Sie-beachten;art409965,10473638">Südkurier Leitfaden Nachbarschaftshilfe</a> ein Leitfaden zur Nachbarschaftshilfe erhältlich.</p>
              <div class="row">
                <div class="col-md-1"></div>
                    <button class="col-md-4 btn btn-primary" onclick="myhref('registrieren_helfender')">
                      <i class="fas fa-thumbs-up"></i>
                      Weiter zur Registrierung
                    </button>
                <div class="col-md-2"></div>
                <button class="col-md-4 btn btn-warning" href="#" data-dismiss="modal">
                  <i class="fas fa-times fa-fw"></i>
                  Fenster schließen
                </button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- Copyright Section -->
  <section class="copyright py-3 text-center text-white d-none d-md-block" style="position:fixed;padding:20px;left:0;bottom:0;background-color:#000;color:#FFF;text-align:center;width:100%;z-index:99999;">
    <div class="container">
      <small>Einkaufshelfer St.Leon-Rot - </small>
        <a href="{% url 'impressum' %}">
      <small>Impressum</small>
        </a>
        <small> - </small>
        <a href="{% url 'datenschutz' %}">
      <small>Datenschutz</small>
        </a>
    </div>
  </section>

  <section class="copyright py-2 text-center text-white d-md-none" style="position:fixed;padding:20px;left:0;bottom:0;background-color:#000;color:#FFF;text-align:center;width:100%;z-index:99999;">
    <div class="container">
      <small>Einkaufshelfer St.Leon-Rot - </small>
        <a href="{% url 'impressum' %}">
      <small>Impressum</small>
        </a>
        <small> - </small>
        <a href="{% url 'datenschutz' %}">
      <small>Datenschutz</small>
        </a>
    </div>
  </section>

{% endblock %}

{% block add_scripts %}
  <!-- Bootstrap CDN
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Custom scripts for this template -->
  <script href="{% static 'js/freelancer.min.js' %}"></script>

  <script type="text/javascript">
    function myhref(web){
      window.location.href = web;}
  </script>

{% endblock %}