<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161194303-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161194303-1');
    </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Corona Einkaufshelfer">
  <meta name="author" content="Marius Steger">
  <meta http-equiv="refresh" content="600" >
  <title>Einkaufshelfer - Startseite</title>

  <!-- Bootstrap -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <link href="static/css/themify-icons.css" rel="stylesheet">
  <link href='static/css/dosis-font.css' rel='stylesheet' type='text/css'>

</head>
<body id="page-top" data-spy="scroll" data-target=".side-menu">
{% load widget_tweaks %}
<div class="row hero-header" style="padding-top: 15px; padding-bottom: 20px; height: 20%">
    {% if user.is_authenticated %}

    <div class="col-md-4 nav float-left">
        <a href="{% url 'home' %}">
            <div class="col-md-auto img-rounded content-ct" style="font-size: 20px; color:#ffffff; background: #63b58c;font-size: xx-large;">
                <div style="padding-top: 5px">Klicken Sie hier um zu Ihrem persönlichen Bereich zu gelangen</div>
            </div>
        </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
    <div class="row">
        <div class="col-xs-6" style="margin-bottom: auto; margin-top: auto;">

        <p style="font-size: x-large; color: black">Angemeldet als: {{ user.username }}</p>
        </div>
        <div class="col-xs-6" style="margin-bottom: auto; margin-top: auto;">
            <a href="{% url "logout" %}">
                <button type="submit" class="btn btn-warning">Abmelden</button>
            </a>
        </div>
    </div>
    </ul>

    {% else %}
    <div class="col-md-2 float-left">
        <div class="col-md-auto img-rounded content-ct" style="font-size: xx-large; color: black">
            Angemeldete Helfer: {{ helfer_count }}
        </div>
    </div>

    <form class="navbar-form navbar-right" role="form" action="{% url "login" %}"
        method="post" accept-charset="utf-8">
      <div class="form-group">
        <input type="text" placeholder="Benutzername" class="form-control" name="username">
      </div>
      <div class="form-group">
        <input type="password" placeholder="Passwort" class="form-control" name="password">
      </div>
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Anmelden</button>
    </form>
    {% endif %}
    </div>

  <div class="container-fluid" style="background: #99aeb5; min-height: 100%">
    <!-- Start: Schwarzes Brett -->
    <div class="row content-ct" style="padding-bottom: 15px;">

        <a href="registrieren_empfaenger">
            <div class="col-sm-6" style="background: #5cb0b0; min-height: 8em; font-size: xx-large;
            text-decoration: none; color: white">
                <div class="col-auto" style="padding-top: 3em;">Registrieren um Lebensmittel und andere Dienste zu erhalten
                    <p style="font-size: x-large">(Im blauen Bereich klicken)</p>
                </div>
            </div>
        </a>

        <a href="registrieren_helfender">
            <div class="col-md-6" style="background: #63b58c; min-height: 8em; font-size: xx-large;
            text-decoration: none; color: white">
                <div class="col-auto" style="padding-top: 3em;">Registrieren als HelferIn
                <p style="font-size: x-large">(Im grünen Bereich klicken)</p>
                </div>

            </div>
        </a>

    </div>

    <div class="row content-ct" style="margin-top: 1em">
        <a href="schwarzes_brett_public">
            <div class="col-md-6 content-ct img-rounded col-md-offset-3" style="font-size: xx-large; min-height: 6em; background: #304385;
            text-decoration: none; color: white">
                <br>
                <p>Aktuelle Aufträge</p>
                <p style="font-size: x-large">Einkaufswünsche auf dem schwarzen Brett ansehen.</p>
            </div>
        </a>
    </div>

   <div class="row content-ct" style="margin-top: 1em">
        <a href="{% url 'faq' %}">
            <div class="col-md-4 content-ct img-rounded col-md-offset-4" style="font-size: xx-large; background: #bfd5dc;
            text-decoration: none; color: #000000">
                <p>Anleitung</p>
                <p style="font-size: x-large">FAQ</p>
            </div>
        </a>
    </div>

   <div class="row content-ct" style="margin-top: 1em; margin-bottom: 1em">
        <a href="{% url 'impressum' %}">
            <div class="col-md-4 content-ct img-rounded col-md-offset-4" style="font-size: xx-large; background: #a7bdc4;
            text-decoration: none; color: #000000">
                <p>Impressum</p>
            </div>
        </a>
    </div>

  <!-- jQuery (necessary for AJAX / JQuery JavaScript plugins) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/bootstrap.js"></script>
  <script src="static/js/jquery.easing.min.js"></script>
  <script src="static/js/scrolling-nav.js"></script>
  <script type="text/javascript">
    function myhref(web){
      window.location.href = web;}
  </script>
</body>

