{% extends 'base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
  <h2>Hier registrieren, um Hilfe zu erhalten - <a href="{% url "start" %}">zurück</a></h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {% if field.name == "datenschutz" %}
            {{ field.label_tag }}
            {{ field }}<a href="{% url "datenschutz" %}">
            <p>(Datenschutzerklärung hier einsehen)</p></a>
        {% else %}
            <large style="color: black; font-size: larger">{{ field.label_tag }}</large><br>
        {{ field }}
        {% endif %}
        {% if field.help_text %}
          <large style="color: black">{{ field.help_text }}</large>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Registrierung abschicken</button>
  </form>
{% endblock %}